@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* 최종업데이트 2016-09-23 */


html {
	overflow-y:scroll;
	-webkit-text-size-adjust: 100%;
}



div {
    display: block;
}


@media all and (max-width:767px) {
	html, body {font-size:13px; line-height:1.67em;}
}

header {
    display: block;
}

nav {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fix_header {
    background-color: #fff;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    border-bottom: 1px solid #eee;
  }


@media all and (max-width:1279px) {
    .wide-inner {
      margin-left: 30px;
      margin-right: 30px;
      width: auto;
    }
  }
  
.wide-inner {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }


.fix_header .header_top {
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 25px 0 20px;
  }
 
  
  .header_top .logo {
    color: rgb(255, 21, 212);
  }


  

  .top_gnb_wrap .category_wrap {
    white-space: nowrap;
    overflow: auto;
    padding-left: 20px;
    display: table; margin-left: auto; margin-right: auto;  
    background-color: rgb(255, 255, 255);
  }

  .top_gnb_wrap .category_wrap>a {
    display: inline-block;
    vertical-align:top;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15pt;
    background-color: rgb(255, 21, 212);
    color: #eee;
  }

  @media all and (max-width:1023px) {
    .top_menu_gnb {
      display: block !important;
      display: table; margin-left: auto; margin-right: auto;
    }
  }  

  .rank_text {
    text-align: center;
    font-size: 24px;
    line-height: 1em;
 }

 .center_middle .rank_list {
    display: -ms-flex;
    display: flex;
    justify-content: center;
    margin-top: 75px;
 }

 .center_top .img {
  width:100%;
  height: 420px;
  object-fit:cover;
 }
 
  #container {

  }

  .center_top {
    overflow: hidden; 
    position: relative;
    width:auto;
    height: 420px;
    margin:0 auto;
  }
 
  .center_middle {
    padding: 95px 0 50px;
}

.center_bottom {
    padding: 75px 0 15px;
    padding-top: 6%;
    padding-bottom: 13.33%;
 }

 .center_middle .rank_text{
  font-size: 1.5em;
  -ms-word-break: keep-all;
  word-break: keep-all;
  line-height: 1.4em;
}
 .center_middle .rank_list>li img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 100%;
 }
 .center_middle .rank_list {
      margin-top: 20px;
   }

   .center_middle .rank_list>li {
      width: 25%;
      margin: 0;
      box-sizing: border-box;
      padding: 10px;
      margin-top: -1px;
      margin-left: -1px;
      list-style: none;
   }


.center_middle .rank_list{
  flex-wrap: wrap;
}


.center_middle .rank_list>li{
  width: 17%;
  margin-bottom: 12px;
}

.center_middle .rank_list {
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.center_middle .rank_list>li {
  margin: 0 20px;
  text-align: center;
}

.center_middle .rank_list>li img {
border-radius: 12px;
}

.center_middle .rank_list>li p {
  font-size: 13pt;
  color: #313131;
  margin-top: 12px;
  font-weight: 500;
}


 .rank_test_hide {
    font-size: 1.6em;
    margin-bottom: 10px;
 }

 .rank_test_hide {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5em;
    color: #2a2a2a;
    text-align: center;
    letter-spacing: -0.03em;
     font-family:'Nanum Square', '나눔 고딕', 'Nanum Gothic', sans-serif;
 }

 .prod_scroll .top_text .left {
   float:left;
 }
 .prod_scroll .top_text .align-r {
   float:right;
 }
 .prod_scroll .m_prod_list {
   border-bottom: 10px solid #f1f1f1;
   padding: 0 20px 30px;
 }
 .m_outer { padding-bottom: 0; }
 .m_outer .wide-inner.pad { 
   margin-left: 0;
   margin-right: 0;
 }
 .m_prod_banner {
   margin: 0 20px;
 }
 .prod_scroll_wrap {
   padding-top: 30px;
 }

 

 

ol, ul {
	list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

 .center_bottom .bottom_txt {
    width: 604px;
    margin: 0 auto 20px;
  }

  .bottom_txt {
    font-size: 27px;
    font-weight: 600;
    line-height: 1.5em;
    color: #2a2a2a;
    text-align: center;
    letter-spacing: -0.03em;
     font-family:'Nanum Square', '나눔 고딕', 'Nanum Gothic', sans-serif;
 }

 .jum_title {
  display: table; margin-left: auto; margin-right: auto; padding: 30px;
  font-size: x-large;
 
 }
 
 .jumbotron{
   background-color: rgb(233, 233, 233);
 }
 .jum_btn {
    
  display: table; margin-left: auto; margin-right: auto;
  padding-bottom: 30px;
 }

 
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
 .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
 .btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgba(255, 153, 0);
background: linear-gradient(0deg,  rgb(255, 181, 70) 0%,rgb(255, 123, 0));
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}



 .jum_title>ul {

    list-style:none;

 }
 
 a {
    color: #000;
    text-decoration: none;
  }


  img {
    max-width:100%;
  }


  img, fieldset {
    border:0px;
  }

  * {margin:0; padding:0;}


        
       
        /* ai */
        #scrollDownPc {
          position: fixed;
          bottom: 60px; /* 윗쪽 끝에서부터의 거리 */
          right: 50px; /* 오른쪽 끝에서부터의 거리 */
          cursor: pointer;
          z-index: 99;
        }


.button1 {background:#ff5100; color:#ffffff; font-size:15pt; display:inline-block; height:80px; width:80px; line-height:79px; border-radius:50%; text-align:center; text-decoration:none; position:relative; transition:1s ease;}
.button1::before, .button::after {content:''; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%) scale(0); border-radius:50%; border:3px solid #ff5100; z-index:-5; transition:0.6s ease-out;}
.button1:hover, .button:focus  {color: rgb(50, 50, 50);}
.button1::before {width:calc(100% + 40px); height:calc(100% + 40px);}
.button1::after {width:calc(100% + 100px); height:calc(100% + 100px);}
.button1:hover::before, .button:hover::after, .button:focus::before, .button:focus::after  {transform:translate(-50%,-50%) scale(1);}

.effect {position:absolute; border-radius:50%; left:50%; top:50%; transform:translate(-50%,-50%) scale(0.5); transition:0.6s ease-out; z-index:-1; width:0; height:0;}
.effect.circle-1 {animation:gravitate 4s linear infinite;}
.effect.circle-2 {animation:gravitate 8s linear infinite;}

.button1:hover .circle-1, .button:focus .circle-1 {width:100%; height:100%;}
.button1:hover .circle-2, .button:focus .circle-2 {width:calc(100% + 30px); height:calc(100% + 30px);}

.efxfect::before, .effect::after {content:''; position:absolute; border-radius:50%;}
.effect.circle-1:before {left:0; top:0; width:20px; height:20px; background:#ff00e1;}
.effect.circle-2:before {right:-15px; bottom:-15px; width:35px; height:35px; background:#ff00e1;}

@keyframes gravitate {
  0% {transform:translate(-50%,-50%) rotate(0deg);}
  100% {transform:translate(-50%,-50%) rotate(360deg);}
}