<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>장비 목록</title>
    
   
    <link rel="stylesheet" href="../../static/css/test.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <style>
      .sidebar {
        width:20%;
      }
      .main_contents{
        margin-left: 150px;
        width:80%;
      }
      .main {
         padding: 20px;
      }
      @media (min-width: 768px) {
        .main {
          padding-right: 40px;
          padding-left: 40px;
        }
      }
    </style>
    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src='../../static/js/bootstrap.js'></script>
    
  </head>
  <body style="background-color:white">
    <nav class="navbar navbar-expand-lg navbar-dark ">
  
      <a class="navbar-brand" href="http://127.0.0.1:8000/feat_admin/admin_main/">성공아 부탁해</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              실습장비 관리
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment/">실습장비 등록</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/">실습장비 관리</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_main/admin_renting/">실습장비 대여</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./admin_equipment_return.html">실습장비 반납</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              대여 내역
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_history/7">대여 내역</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./admin_schedule.html">대여/반납 일정</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              카테고리
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/">전체</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=6">실습실</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=0">노트북</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=1">케이블</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=2">CD-ROM</a>
                      </li>
                    </ul>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=3">아두이노키트</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=4">라즈베리파이</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=5">졸업작품물품</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=7">태블릿PC</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=8">웹캠</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/?equipCode=9">태블릿</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">로그아웃</button>
        </form>
      </div>
    </nav>
    <div class="container_fluid main_contents">
      <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>카테고리</th>
                  <th>장비ID</th>
                  <th>입고날짜</th>
                  <th>대여상태</th>
                  <th>기기상태</th>
                  <th>기기정보</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for equip in equips %}
              <tr>
                <td>{{equip.equipCode}}</td>
                <td>{{equip.equipID}}</td>
                <td>{{equip.receivedDate}}</td>
                {% if equip.isRented == 0 %}
                <td>대여가능</td>
                {% else %}
                <td>대여중</td>
                {% endif %}
                {% if equip.status == 0 %}
                <td>불량</td>
                {% elif equip.status == 1 %}
                <td>하</td>
                {% elif equip.status == 2 %}
                <td>중</td>
                {% else %}
                <td>상</td>
                {% endif %}
                <td>{{equip.equipInfo}}</td>
                <td><button class="btn btn-primary" onclick="location.href='http://127.0.0.1:8000/admin_equipment_manage/?equipid={{ equip.equipID }}'">수정</button></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </body>
</html>
