<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>반납 처리</title>
    
   
    <link rel="stylesheet" href="../../static/css/test.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    
    <style>
      .main {
         padding: 20px;
      }
      @media (min-width: 768px) {
        .main {
          padding-right: 40px;
          padding-left: 40px;
        }
      }
      .sidebar {
        width:20%;
      }
      .main_contents{
        position: fixed;
      }
    </style>

    <script>
    $(function () {


    (function () {  
      // dropdown menu in the side nav
      var slideNavDropdown = $('.side-nav-dropdown');

      $('.side-nav .categories li').on('click', function () {

        $(this).toggleClass('lol').siblings().removeClass('lol');

        if ($(this).hasClass('lol')) {

          $(this).find('.side-nav-dropdown').slideToggle('fast');

          $(this).siblings().find('.side-nav-dropdown').slideUp('fast');

        } else {

          $(this).find('.side-nav-dropdown').slideUp('fast');

        }

      });

      $('.side-nav .close-aside').on('click', function () {

        $('#' + $(this).data('close')).addClass('show-side-nav');

        contents.removeClass('margin');

      });

    }());
    console.log(Chart.defaults.global);
    });

    </script>
  </head>  
  <body style="background-color:white">
    <nav class="navbar navbar-expand-lg navbar-dark ">
  
      <a class="navbar-brand" href="#">성공아 부탁해</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              실습장비 관리
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment/">실습장비 등록</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/">실습장비 관리</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_main/admin_renting/">실습장비 대여</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_main/admin_returning/">실습장비 반납</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_history/">대여 내역</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid main_contents">
          <div style="padding: 20px;">
            <h1 style="	font-size: 38px;
            text-align: center; padding-bottom: 20px;">반납 처리</h1>
            <div class="table_list_borrow table_list_responsive">
              <table class="table table-striped table-hover table-condensed">
                <thead>
                  <tr style="background-color:#002a71; color: white;">
                    <th scope="col" style="text-align: center;">장비 코드</th>
                    <th scope="col" style="text-align: center;">대여 장비</th>
                    <th scope="col" style="text-align: center;">대여자 명</th>
                    <th scope="col" style="text-align: center;">대여 날짜</th>
                    <th scope="col" style="text-align: center;">반납 날짜</th>
                    <th scope="col" style="text-align: center;">ㅤㅤㅤㅤ</th>
                  </tr>
                </thead>
                <tbody>
                    {% for return_list in return_user_list %}
                    <tr>
                      <td style="text-align: center;" >{{return_list.equipID_no}}</td>
                      <td style="text-align: center;">{{return_list.equipInfo}}</td>
                      <td style="text-align: center;">{{return_list.userName}}</td>
                      <td style="text-align: center;">{{return_list.rentingDate}}</td>
                      <td style="text-align: center;">{{return_list.returningDate}}</td>
                      <td style="text-align: center;"><button type="button" id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">반납</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            
             
      </div>
    </div>
  </div>
  <div>
  </div>
  </body>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">반납 상세 정보</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closebtn">닫기</button>
          <button type="button" class="btn btn-primary" id="savebtn" >반납</button>
        </div>
      </div>
    </div>
  </div>
 </html> 
<script>
    $("#myBtn").click(function(){
      $(".modal-body").empty();
        var str = ""
        var tdArr = new Array();	
        var checkBtn = $(this);
        var tr = checkBtn.parent().parent();
        var td = tr.children();

        var select_equipID = td.eq(0).text();
        var select_userName = td.eq(2).text();
        var select_rentingDate = td.eq(3).text();
        var select_returningDate = td.eq(4).text();
        $("#myModal").modal('show');
        $.ajax({
        type:'POST',
        url:'/feat_admin/admin_main/return_detail_ajax/',
        data: {'select_equipID': select_equipID, 'select_userName': select_userName, 'select_rentingDate': select_rentingDate, 'select_returningDate': select_returningDate  },
        success:function(res){
          console.log(res.studentID);
          $(".modal-body").append(`<p>대여자 아이디: ${res.studentID}</p>`);
          $(".modal-body").append(`<p>대여자 이름: ${res.studentName}</p>`);
          $(".modal-body").append(`<p>대여자 이메일: ${res.studentEmail}</p>`);
          $(".modal-body").append(`<p>대여자 핸드폰 번호: ${res.studentPhonenum}</p>`);
          $(".modal-body").append(`<p class="equipid">장비 코드: ${select_equipID}</p>`);
          $(".modal-body").append(`<p>대여 날짜: ${select_rentingDate}</p>`);
          $(".modal-body").append(`<p>반납 날짜: ${select_returningDate}</p>`);
          $(".modal-body").append(`<input id="qrscan" name='qrscan'  type="text" class="input" data-type="text">`);
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
        }
        });

        /*$("#savebtn").click(function(){
          var EqID = select_equipID;
          $.ajax({
          type:'POST',
          url:'/feat_admin/admin_main/return_ajax/',
          data: {'select_equipID': select_equipID},
          success:function(res){
            console.log(res.studentID);
          },
          error : function(xhr,errmsg,err) {
          console.log(xhr.status + ": " + xhr.responseText); 
          }
          });
          alert('반납이 완료되었습니다.')
          $("#myModal").modal('hide');
        });*/

    });
    $("#closebtn").click(function(){
        $("#myModal").modal('hide');
    });

    $("#savebtn").click(function(){
      alert('반납이 완료되었습니다.')
      $("#myModal").modal('hide');
    });
</script>