<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>관리자 메인</title>
    
   
    <link rel="stylesheet" href="../static/css/test.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    
    <style>
      @media (min-width: 768px) {
        .main {
          padding-right: 40px;
          padding-left: 40px;
        }
      }
      .sidebar {
        width:20%;
      }
      .main_contents{
        margin:0 auto;
        text-align: center;
      }
      .buttondiv{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 80px;
      }
      .chart{
        margin:50px;
        font-size: 30px;
        color:#002a71;
      }
      .chart_title{
        margin: 50px;
        font-size: 40px;
       
      }
    </style>

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='../../static/js/bootstrap.js'></script>
    <script>
    $(function () {


    (function () {  
      // dropdown menu in the side nav
      var slideNavDropdown = $('.side-nav-dropdown');

      $('.side-nav .categories li').on('click', function () {

        $(this).toggleClass('lol').siblings().removeClass('lol');

        if ($(this).hasClass('lol')) {

          $(this).find('.side-nav-dropdown').slideToggle('fast');

          $(this).siblings().find('.side-nav-dropdown').slideUp('fast');

        } else {

          $(this).find('.side-nav-dropdown').slideUp('fast');

        }

      });

      $('.side-nav .close-aside').on('click', function () {

        $('#' + $(this).data('close')).addClass('show-side-nav');

        contents.removeClass('margin');

      });

    }());
    console.log(Chart.defaults.global);
    });

    </script>
  </head>  
  <body style="background-color:white">
    <nav class="navbar navbar-expand-lg navbar-dark ">
  
      <a class="navbar-brand" href="http://127.0.0.1:8000/feat_admin/admin_main/">성공아 부탁해</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              실습장비 관리
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment/">실습장비 등록</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_detail/">실습장비 관리</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_main/admin_renting/">실습장비 대여</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./admin_equipment_return.html">실습장비 반납</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/feat_admin/admin_equipment_history/7">대여 내역</a>
          </li>
        </ul>
        
      </div>
    </nav>
    <div class="container-fluid main_contents">
      <div style="margin-top:30px">
        <div style="padding:20px">
          <h2 class="sub-header">오늘의 알림</h2>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
            <thead style="background-color: #002a71;color: white;">
              <tr>
                <th>순번</th>
                <th>업무</th>
                <th>장비명</th>
                <th>대여자명</th>
                <th>대여자학번</th>
                <th>연락처</th>
                <th>대여날짜</th>
                <th>반납날짜</th>
              </tr>
            </thead>
            <tbody>
              {% for Renting in rentings %}
              <tr>
                <td>{{Renting.serialnum}}</td>
                <td>대여</td>
                <td>{{Renting.equipID}}</td>
                <td>{{Renting.userName}}</td>
                <td>{{Renting.userID}}</td>
                <td>{{Renting.userPhoneNum}}</td>
                <td>{{Renting.rentingDate}}</td>
                <td>{{Renting.returningDate}}</td>
              </tr>
              {% endfor %}
              {% for returing in returnings %}
              <tr>
                <td>{{returing.serialnum}}</td>
                <td>반납</td>
                <td>{{returing.equipID}}</td>
                <td>{{returing.userName}}</td>
                <td>{{returing.userID}}</td>
                <td>{{returing.userPhoneNum}}</td>
                <td>{{returing.rentingDate}}</td>
                <td>{{returing.returningDate}}</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
          <hr>
          <div class="buttondiv">
            <div style=" float:left;">
              <button type="button" class="btn btn-outline-primary" style="width: 350px; height:90px;font-size:30px" onclick="location.href='http://127.0.0.1:8000/admin_main/admin_renting/'">대여처리</button>
            </div>
            <div style="float:right;">
              <button type="button" class="btn btn-outline-danger" style="width: 350px; height:90px;font-size:30px" onclick="location.href='admin_renting/'">반납처리</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
  </body>
 </html> 