<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/user_mypage.css">
  <link rel="stylesheet" href="../static/css/user_equipment.css">
</head>

<body>
  <aside class="side-nav" id="show-side-navigation1">

    <div class="heading">
      <img src="../static/img/default_profile.PNG">
      <div class="info">
        <h3><a href="#">컴공이</a></h3>
        <p>20190899</p>
      </div>
    </div>

    <ul class="categories">
      <li><i class="fa fa-home fa-fw"></i><a href="#">실습장비 관리</a>
        <ul class="side-nav-dropdown">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">ipsum dolor</a></li>
          <li><a href="#">dolor ipsum</a></li>
          <li><a href="#">amet consectetur</a></li>
          <li><a href="#">ipsum dolor sit</a></li>
        </ul>
      </li>
      <li><i class="fa fa-support fa-fw"></i><a href="#">대여/반납 내역</a>
        <ul class="side-nav-dropdown">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">ipsum dolor</a></li>
          <li><a href="#">dolor ipsum</a></li>
          <li><a href="#">amet consectetur</a></li>
          <li><a href="#">ipsum dolor sit</a></li>
        </ul>
      </li>
      <li><i class="fa fa-envelope fa-fw"></i><a href="#"> Contact us</a>
        <ul class="side-nav-dropdown">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">ipsum dolor</a></li>
          <li><a href="#">dolor ipsum</a></li>
          <li><a href="#">amet consectetur</a></li>
          <li><a href="#">ipsum dolor sit</a></li>
        </ul>
      </li>
      <li><i class="fa fa-users fa-fw"></i><a href="#"> Our team</a>
        <ul class="side-nav-dropdown">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">ipsum dolor</a></li>
          <li><a href="#">dolor ipsum</a></li>
          <li><a href="#">amet consectetur</a></li>
          <li><a href="#">ipsum dolor sit</a></li>
        </ul>
      </li>
      <li><i class="fa fa-bolt fa-fw"></i><a href="#"> Testimonials</a>
        <ul class="side-nav-dropdown">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">ipsum dolor</a></li>
          <li><a href="#">dolor ipsum</a></li>
          <li><a href="#">amet consectetur</a></li>
          <li><a href="#">ipsum dolor sit</a></li>
        </ul>
      </li>
      <li><i class="fa fa-envelope-open-o fa-fw"></i><a href="#"> Messages <span class="num dang">56</span></a></li>
      <li><i class="fa fa-wrench fa-fw"></i><a href="#"> Settings <span class="num prim">6</span></a>
        <ul class="side-nav-dropdown">
          <li><a href="#">Lorem ipsum</a></li>
          <li><a href="#">ipsum dolor</a></li>
          <li><a href="#">dolor ipsum</a></li>
          <li><a href="#">amet consectetur</a></li>
          <li><a href="#">ipsum dolor sit</a></li>
        </ul>
      </li>
      <li><i class="fa fa-laptop fa-fw"></i><a href="#"> About UI &amp; UX <span class="num succ">43</span></a></li>
      <li><i class="fa fa-comments-o fa-fw"></i><a href="#"> Something else</a></li>
    </ul>
  </aside>
  <section id="contents">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header" style="margin-left: 230px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <i class="fa fa-align-right"></i>
          </button>
          <a class="navbar-brand" href="#"><span class="main-color">마이페이지</span></a>

        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">My profile <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
                <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
                <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-comments"></i><span>23</span></a></li>
            <li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <div class="main">

    <div class="mypage_top">

      <h2>
        {% for User in Users %}
        <strong class="name" style="font-size: pt;" style="font-weight: 500;">{{User.name}}</strong>
        님 안녕하세요
        {% endfor %}
      </h2>
      <div class="btn_01">
        <a title="비밀번호변경 바로가기" class="btn_pw" href="">비밀번호변경</a>
      </div>
      <div class="btn_01">
        <a title="사용자정보수정 바로가기" class="btn_re" href="" sizetype="px">사용자정보수정</a>
      </div>

    </div>

    <div class = "mypage_middle">
      
        <dl >

          {% for User in Users %}
          <dt>학번</dt>
          <dd>{{User.studentID}}</dd>
          <dt >Email</dt>
          <dd >
            {{User.email}}
          </dd>
          <dt >휴대폰번호</dt>
          <dd >{{User.phoneNum}}</dd>
          {% endfor %}
        </dl>
      </div>

</div>


    
  </div>



</body>

</html>