
 <!DOCTYPE html> 
<html lang="ko">
<head>
         

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
     <title> 마이페이지 </title>
     

     <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
     <link rel="stylesheet" href="../static/css/user_mypage.css">
     <link rel="stylesheet" href="../static/css/user_main.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src='http://code.jquery.com/jquery-latest.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <script src='../static/js/bootstrap.js'></script>

      <header class = "fix_header" style="position: fixed">
        <div class="wide-inner">
            <div class = "header_top">
                <div class="menu_leftside">
                    <img src = "/Users/k/success_kwonyujeong/static/img/skulogo.PNG" height=100px alt="메뉴아이콘">
                </div>

                <a href="/" class="logo">
                    <span class="logo_txt01">성결대학교</span>
                    <br>
                    <span class="logo_txt02">실습장비&실습실 대여</span>
                </a>
        </div>
        </div>
 
        <div class="top_menu_gnb">
            <nav class="top_gnb_fix">
                <div class = "gnb_wrap"> </div>
                <div class = "top_gnb_wrap">
                    <nav>
                        <div class="category_wrap">
                            <a href="" class >실습장비 관리</a>
                            <a href="" class>대여/반납 내역</a>
                            <a href="" class>마이페이지</a>
                            <a href="" class>실습장비 관리</a>
                            <a href="" class>실습장비 관리</a>
                            <a href="" class>실습장비 관리</a>
                            <a href="" class>실습장비 관리</a>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
 

 <section id="wrapper" class="container-fluid">
     <section id="content" class="row">

         <section id="sub_content" class="col-sm-12 text-left">
             <div id="content_header">
                 <div class="container">
                     <h4>대여현황</h4>                  
                 </div>
             </div>
             <hr />
             
             <div id="content_content">

                     <ul class="nav nav-tabs">	

             <li role="presentation" class="active"><a href="LendList.csp?HLOC=SKLIB&COUNT=xlQbNZpBy3&Kor=1">현황</a></li>
 

             <li role="presentation"><a href="LendListHistory.csp?HLOC=SKLIB&COUNT=xlQbNZpBy3&Kor=1" target="_self">내역</a></li>
          
         
 </ul>	
             
           
            
                 <div class="my_borrow_box row">
                     <div class="col-md-4">
                         <div class="panel panel-default">
                             <div class="panel-heading">대여</div>
                             <div class="panel-body">

                                
                             </div>
                         </div>
                     </div>
                     
                    
                     
                     <div class="col-md-4">
                         <div class="panel panel-default">
                             <div class="panel-heading">반납</div>
                             <div class="panel-body">
                                
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <!-- 대출한 도서 시작 ========================================================================================= -->
                 <!-- 2020.07.31 이동기 sub_title을 inline-block으로 변경 및 선택연장 버튼 추가, 요청서번호 : 20200722-154118-01 -->		
                 <h4 class="sub_title" style="display:inline-block;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 대여한 장비</h4>
                 
                 
                 
             
                 <script language="javascript">
   
                 //-->
                 </script>
             
                 <!-- 각줄서기 일 경우 사용 -->

                     
                
                 
                 <!-- 2020.07.31 이동기 체크박스 추가 요청서번호 : 20200722-154118-01 -->
                 <div class="table_list_borrow table_list_responsive">
                     <table class="table table-striped table-hover table-condensed">
                         
                         <colgroup class="visible-xs-block visible-sm-block">
                             <col style="width:100px;">
                         </colgroup>
                         <thead>
                             <tr>
                                 <th class="hidden-xs hidden-sm">등록번호</th>
                                 <th><a href="#link" onclick="onChangeSort(5);">서명</a></th>
                                 <th class="hidden-xs hidden-sm">대여일</a></th>
                                 <th class="hidden-xs hidden-sm">반납예정일</a></th>
                             </tr>
                         </thead>
                         <tbody>
<tr>

         <td class="hidden-xs hidden-sm">EM0346024 <br /></td>
         <td class="text-left">
             <a href="javascript:doDataView('329397','SKLIB');">라즈베리파이</a> (C.2)
             <ul class="mobile_board_info visible-xs-block visible-sm-block">
                 <li>2022.04.06 ~ 2022.04.18 ㅣ 일반대여 <br /></li>
             </ul>
         </td>
         <td class="hidden-xs hidden-sm">2022.04.06</td>
         <td class="hidden-xs hidden-sm">2022.04.18</td>
     </tr>
     
<tr>

         <td class="hidden-xs hidden-sm">EM0404987 <br /></td>
         <td class="text-left">
             <a href="javascript:doDataView('465054','SKLIB');">노트북</a>  
             <ul class="mobile_board_info visible-xs-block visible-sm-block">
                 <li>2022.04.06 ~ 2022.04.18 ㅣ 일반대여 <br /></li>
             </ul>
         </td>
         <td class="hidden-xs hidden-sm">2022.04.06</td>
         <td class="hidden-xs hidden-sm">2022.04.18</td>
     </tr>
     
<tr>

         <td class="hidden-xs hidden-sm">EM0393434 <br /></td>
         <td class="text-left">
             <a href="javascript:doDataView('387374','SKLIB');">안드로이드폰</a>  
             </ul>
         </td>
         <td class="hidden-xs hidden-sm">2022.04.12</td>
         <td class="hidden-xs hidden-sm">2022.04.22</td>

     </tr>
     
<tr>

         <td class="hidden-xs hidden-sm">EM0392234 <br /></td>
         <td class="text-left">
             <a href="javascript:doDataView('385176','SKLIB');">공유기</a>  
             <ul class="mobile_board_info visible-xs-block visible-sm-block">
                 <li>2022.04.12 ~ 2022.04.22 ㅣ 일반대여 <br /></li>
             </ul>
         </td>
         <td class="hidden-xs hidden-sm">2022.04.12</td>
         <td class="hidden-xs hidden-sm">2022.04.22</td>

     </tr>
     
                             
                             
                         </tbody>
                     </table>
                 </div>
                 <!-- 대출한 장비 끝 ========================================================================================= -->
                 
               
                 
              
                 <!-- 장비 상세보기이동 -->
                 <form type="text" name="DataView" method="get" action="/lib/data/data/DataView.csp">


                     <input type="hidden" name="HLOC" value="SKLIB"/>
                     <input type="hidden" name="COUNT" value="xlQbNZpBy3"/>
                     <input type="hidden" name="Kor" value="1"/>
                     <input type="hidden" name="LOC" value=""/>
                     <input type="hidden" name="FILENUM" value=""/>
                     <input type="submit" style="display:none;"/>
<input type="hidden" name="_signaturetoken" value="tELurZcQ3uwmT7rWK6W8H8m2RcJoZgB1P+kRKO7IVwM=" />

                 </form>
                 
             </div>
             <!-- //content_content 끝 -->
             
         </section>
         <!-- //sub_content 끝 -->
         <hr />
         
         
     </section>
 </section>
 <!-- //section content 끝 -->
 
 <div id="modal_mir" class="modal fade" role="dialog"></div>
 
 <hr />
 

</body>
</html>