<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자메인</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/user_main_sidevar.css">
    <link rel="stylesheet" href="../../static/css/user_main.css">
    <style>
        
        </style>
</head>
<body id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="http://127.0.0.1:8000/feat_user/user_main" class="nav__logo">Please, SungGong!</a>
                </div>
                <div class="nav__list">
                    <a href="http://127.0.0.1:8000/feat_user/user_main" class="nav__link">
                        <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">HOME</span>
                    </a>

                    <a href="http://127.0.0.1:8000/feat_user/user_mypage/" class="nav__link">
                        <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">MYPAGE</span>
                    </a>

                    <a href="http://127.0.0.1:8000/feat_user/user_equipment/" class="nav__link collapse">
                        <ion-icon name="construct-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">PRODUCT</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link" ></ion-icon>

                        <ul class="collapse__menu" >
                            <a href="http://127.0.0.1:8000/feat_user/user_equipment/#notebook_equip" class="collapse__sublink">Equipment</a>
                            <a href="http://127.0.0.1:8000/feat_user/user_equipment/#lab_equip" class="collapse__sublink">Lab</a>
                        </ul>
                    </a>

                    <a href="http://127.0.0.1:8000/feat_user/user_history/" class="nav__link">
                        <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">HISTORY</span>
                    </a>

                    <a href="#" class="nav__link">
                        <ion-icon name="notifications-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">NOTICE</span>
                    </a>
                    
                    
                </div>
                <a href="#" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">LOG OUT</span>
                </a>
            </div>
        </nav>
    </div>


    <div id="container" class="main_container">
        <div class = "center_top">
          <img src="../../static/img/user_main_title.PNG" alt>

        </div>
        <div class = "center_middle">
            <div class ="middle_rank">
                <p class = "rank_text">
                    "학생들이 많이 찾는"
                    <span>실습장비 BEST</span>
                </p>
                <p class="rank_test_hide">인기 카테고리</p>
                <ul class="rank_list">
                    <li>     
                        {% if goods.0.0 == "노트북" %}   
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#notebook_equip">
                            <img src="../../static/img/lggram_img.PNG" alt> 
                        {% elif goods.0.0 == "케이블" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cable_equip">
                            <img src="../../static/img/hdmi_img.PNG" alt> 
                        {% elif goods.0.0 == "CD-ROM" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cdrom_equip">
                            <img src="../../static/img/cd_rom_img.PNG" alt> 
                        {% elif goods.0.0 == "아두이노 키트" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#arduino_equip">
                            <img src="../../static/img/arduino_img.PNG" alt> 
                        {% elif goods.0.0 == "라즈베리파이" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#raspberrypi_equip">
                            <img src="../../static/img/rasberrypi_img.PNG" alt> 
                        {% elif goods.0.0 == "졸업작품 물품" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#gradue_equip">
                            <img src="../../static/img/gradu_img.PNG" alt> 
                        {% elif goods.0.0 == "실습실" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#lab_equip">
                            <img src="../../static/img/lab_img.PNG" alt> 
                        {% elif goods.0.0 == "태블릿PC" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tabletpc_equip">
                            <img src="../../static/img/tabletpc_img.PNG" alt>
                        {% elif goods.0.0 == "웹캠" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#webcam_equip">
                            <img src="../../static/img/webcam_img.PNG" alt> 
                        {% else %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tablet_equip">
                            <img src="../../static/img/tablet_img.PNG" alt>
                        {% endif %}
                            <p>{{goods.0.0}}</p>                          
                            <p>재고: {{goods.0.1}} 개</p>                           
                        </a>                      
                    </li>
                    <li>
                        {% if goods.1.0 == "노트북" %}   
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#notebook_equip">
                            <img src="../../static/img/lggram_img.PNG" alt> 
                        {% elif goods.1.0 == "케이블" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cable_equip">
                            <img src="../../static/img/hdmi_img.PNG" alt> 
                        {% elif goods.1.0 == "CD-ROM" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cdrom_equip">
                            <img src="../../static/img/cd_rom_img.PNG" alt> 
                        {% elif goods.1.0 == "아두이노 키트" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#arduino_equip">
                            <img src="../../static/img/arduino_img.PNG" alt> 
                        {% elif goods.1.0 == "라즈베리파이" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#raspberrypi_equip">
                            <img src="../../static/img/rasberrypi_img.PNG" alt> 
                        {% elif goods.1.0 == "졸업작품 물품" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#gradue_equip">
                            <img src="../../static/img/gradu_img.PNG" alt> 
                        {% elif goods.1.0 == "실습실" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#lab_equip">
                            <img src="../../static/img/lab_img.PNG" alt> 
                        {% elif goods.1.0 == "태블릿PC" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tabletpc_equip">
                            <img src="../../static/img/tabletpc_img.PNG" alt>
                        {% elif goods.1.0 == "웹캠" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#webcam_equip">
                            <img src="../../static/img/webcam_img.PNG" alt> 
                        {% else %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tablet_equip">
                            <img src="../../static/img/tablet_img.PNG" alt>
                        {% endif %}
        
                            <p>{{goods.1.0}}</p>                          
                            <p>재고: {{goods.1.1}} 개</p>    
                        </a>                       
                    </li>
                    <li>
                        {% if goods.2.0 == "노트북" %}   
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#notebook_equip">
                            <img src="../../static/img/lggram_img.PNG" alt> 
                        {% elif goods.2.0 == "케이블" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cable_equip">
                            <img src="../../static/img/hdmi_img.PNG" alt> 
                        {% elif goods.2.0 == "CD-ROM" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cdrom_equip">
                            <img src="../../static/img/cd_rom_img.PNG" alt> 
                        {% elif goods.2.0 == "아두이노 키트" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#arduino_equip">
                            <img src="../../static/img/arduino_img.PNG" alt> 
                        {% elif goods.2.0 == "라즈베리파이" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#raspberrypi_equip">
                            <img src="../../static/img/rasberrypi_img.PNG" alt> 
                        {% elif goods.2.0 == "졸업작품 물품" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#gradue_equip">
                            <img src="../../static/img/gradu_img.PNG" alt> 
                        {% elif goods.2.0 == "실습실" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#lab_equip">
                            <img src="../../static/img/lab_img.PNG" alt> 
                        {% elif goods.2.0 == "태블릿PC" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tabletpc_equip">
                            <img src="../../static/img/tabletpc_img.PNG" alt>
                        {% elif goods.2.0 == "웹캠" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#webcam_equip">
                            <img src="../../static/img/webcam_img.PNG" alt> 
                        {% else %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tablet_equip">
                            <img src="../../static/img/tablet_img.PNG" alt>
                        {% endif %}

                            <p>{{goods.2.0}}</p>                          
                            <p>재고: {{goods.2.1}} 개</p>    
                        </a>                       
                    </li>
                    <li>
                        {% if goods.3.0 == "노트북" %}   
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#notebook_equip">
                            <img src="../../static/img/lggram_img.PNG" alt> 
                        {% elif goods.3.0 == "케이블" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cable_equip">
                            <img src="../../static/img/hdmi_img.PNG" alt> 
                        {% elif goods.3.0 == "CD-ROM" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#cdrom_equip">
                            <img src="../../static/img/cd_rom_img.PNG" alt> 
                        {% elif goods.3.0 == "아두이노 키트" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#arduino_equip">
                            <img src="../../static/img/arduino_img.PNG" alt> 
                        {% elif goods.3.0 == "라즈베리파이" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#raspberrypi_equip">
                            <img src="../../static/img/rasberrypi_img.PNG" alt> 
                        {% elif goods.3.0 == "졸업작품 물품" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#gradue_equip">
                            <img src="../../static/img/gradu_img.PNG" alt> 
                        {% elif goods.3.0 == "실습실" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#lab_equip">
                            <img src="../../static/img/lab_img.PNG" alt> 
                        {% elif goods.3.0 == "태블릿PC" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tabletpc_equip">
                            <img src="../../static/img/tabletpc_img.PNG" alt>
                        {% elif goods.3.0 == "웹캠" %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#webcam_equip">
                            <img src="../../static/img/webcam_img.PNG" alt> 
                        {% else %}
                        <a href = "http://127.0.0.1:8000/feat_user/user_equipment/#tablet_equip">
                            <img src="../../static/img/tablet_img.PNG" alt>
                        {% endif %}

                            <p>{{goods.3.0}}</p>
                            <p>재고: {{goods.3.1}} 개</p>
                        </a>                       
                    </li>
                </ul>
            </div>
        </div>

        
          
        <div class="center_bottom">
            <div class="bottom_title">
                {% for User in Users %}
                <p class = "rank_text">
                    "{{User.name}}" 학생의
                </p>
                {% endfor %}
                
                <h2 class="bottom_txt">
                   대여 내역
                   <br>
                   <br>
                </h2>
            </div>

            <div class="jumbotron">
                <div class="jum_title">
                    {% for now_userID in NOW_userID_list %}
                    <ul>
                        <li> {{now_userID.equipInfo}} </li>
                    </ul>
                    {% endfor %}
                </div>
                

                <div class="jum_btn">
                    <button class="custom-btn btn-12" onclick = 'user_history()'><span>바로가기!</span><span>대여상세</span></button>
                </div>
            
        </div>           
    </div>

   
        
       
        
        <!-- ai -->
        <div class="button-container" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs" >
            <a class="button1" href="http://127.0.0.1:8000/feat_user/user_main/">
              <span class="content">성공AI</span>
              <span class="effect circle-1"></span>
              <span class="effect circle-2"></span>
            </a>
          </div>





    <!-- IONICONS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="../../static/js/user_main_sidevar.js"></script>

    <script>
        function user_history()  {
         window.location.href = 'http://127.0.0.1:8000/feat_user/user_history/'
        }
    </script>
</body>
</html>