<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자메인</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/user_main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header class = "fix_header" style="position: fixed">
        <div class="wide-inner">
            <div class = "header_top">
                <div class="menu_leftside">
                    <img src = "/Users/k/success_kwonyujeong/static/img/skulogo.PNG" height=100px alt="메뉴아이콘">
                </div>

                <a href="/" class="logo">
                    <span class="logo_txt01">성결대학교</span>
                    <br>
                    <span class="logo_txt02">실습장비&실습실 대여</span>
                </a>
        </div>
        </div>
 
        <div class="top_menu_gnb">
            <nav class="top_gnb_fix">
                <div class = "gnb_wrap"> </div>
                <div class = "top_gnb_wrap">
                    <nav>
                        <div class="category_wrap">
                            <a href="" class >실습장비 관리</a>
                            <a href="" class>대여/반납 내역</a>
                            <a href="" class>마이페이지</a>
                            <a href="" class>실습장비 관리</a>
                            <a href="" class>실습장비 관리</a>
                            <a href="" class>실습장비 관리</a>
                            <a href="" class>실습장비 관리</a>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>

    <div id="container" class="main_container">
        <div class = "center_top">

        </div>
        <div class = "center_middle">
            <div class ="middle_rank">
                <p class = "rank_text">
                    "학생들이 많이 찾는"
                    <span>실습장비 BEST</span>
                </p>
                <p class="rank_test_hide">인기 카테고리</p>
                <ul class="rank_list">
                    <li>
                        <a href = "">
                            <img src="/Users/k/success_kwonyujeong/static/img/raspberrypi_img.PNG" alt>
                            <p>라즈베리파이</p>
                            <p>재고: 0000</p>
                        </a>                      
                    </li>
                    <li>
                        <a href = "">
                            <img src="/Users/k/success_kwonyujeong/static/img/raspberrypi_img.PNG" alt>
                            <p>라즈베리파이</p>
                            <p>재고: 0000</p>
                        </a>                       
                    </li>
                    <li>
                        <a href = "">
                            <img src="/Users/k/success_kwonyujeong/static/img/raspberrypi_img.PNG" alt>
                            <p>라즈베리파이</p>
                            <p>재고: 0000</p>
                        </a>                       
                    </li>
                    <li>
                        <a href = "">
                            <img src="/Users/k/success_kwonyujeong/static/img/raspberrypi_img.PNG" alt>
                            <p>라즈베리파이</p>
                            <p>재고: 0000</p>
                        </a>                       
                    </li>
                </ul>
            </div>
        </div>

        
          
        <div class="center_bottom">
            <div class="bottom_title">
                <p class = "rank_text">
                    "OOO학생의"
                </p>
                <h2 class="bottom_txt">
                   대여 내역
                   <br>
                   <br>
                </h2>
            </div>

            <div class="jumbotron" style="background-color: rgb(255, 226, 255);">
                <div class="jum_title">
                    <ul>
                        <li>라즈베리파이</li>
                        <li>아두이노</li>
                        <li>노트북</li>
                    </ul>
                </div>

                <div class="jum_btn">
                    <p><a class="btn btn-primary btn-lg" href="#" style="background-color: rgb(255, 21, 212); color: white; border-color: white;"role="button">대여내역 상세</a></p>
                </div>
            
        </div>           
    </div>
</body>
</html>